.dashboard {
  &-containter {
    .sidenav {
      border: none;
      width: 265px;
      transition: all 0.3s;

      &.over-mode {
        width: 64px;
      }
    }
  }

  &-content {
    background: #ECECF2;
    min-height: 100vh;
    transition: all 0.3s;

    &-wrapper {
      margin-top: 55px;
      padding: 15px;
      min-height: calc(100vh - 95px);
    }
  }
}
